/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
}

/* Css pour SideBar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribute items evenly along the column */
  align-items: center; /* Center items horizontally */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 0;
  width: 60px; /* Fixed width for the sidebar */
  height: 290px; /* Adjusted height to your preference */
  position: fixed;

  left: 45px;
  width: 60px;
  height: 50%; /* Fixed position if sidebar should stay in place */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

/* Style for the React icons */
.sidebar .react-icon {
  color: white; /* Icons color */
  font-size: 24px; /* Icon size */
  margin: 10px 0; /* Margin around icons */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

/* Hover effect for icons */
.sidebar .react-icon:hover {
  /* background-color: #0A84FF ; */
  padding: 15px;
  border-radius: 10px;
  transform: translateY(-5px) scale(1.1); /* Légère élévation et agrandissement au survol */
  color: #fff;
}

/* If you want to add specific styles for each icon, you can add additional classes in your component and define them here. For example: */
.sidebar .icon-home {
  /* Specific styles for the 'home' icon if needed */
}

/* bottombar css */
.navbar2 {
  position: relative;
  left: 28%;
  display: flex;
  width: 45%;
  align-items: center;
  background-color: #1c1c1e; /* dark background */
  padding: 10px;
  border-radius: 22px; /* rounded corners */
  overflow: hidden;
  /* centrer horizontalement */
}

.navbar {
  position: relative;
  top: 2%;
  left: 32%;
  display: flex;
  width: 45%;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  border-radius: 22px; /* rounded corners */
  overflow: hidden;
}

.nav-item {
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s; /* Animation douce pour le fond */
}

/* L'état de survol pour chaque .nav-item */
.nav-item:hover {
  background-color: #0a84ff;
  border-radius: 15px;
}

/* L'état actif pour l'élément sélectionné */
.nav-item.active {
  background-color: #0a84ff;
}

.nav-add-btn {
  background-color: #0a84ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.3s; /* Animation douce pour le bouton */
}

.nav-add-btn:hover {
  transform: scale(1.1); /* Agrandit légèrement le bouton au survol */
}
/* dashboard.css */
/* Dashboard.css */
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 87vh;
  top: 28px;
  left: 65px;
  width: 82%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  position: relative; /* Arrière-plan global */
}


.card {
  width: 350px;
  height: 180px;
  position: relative;
  padding: 25px;
  
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}





.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
  left: 62%;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: #fff;
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: #fff;
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: #fff;
}

/* Statut Css */
.statut {
  width: 125px;
  height: 136px;
  position: relative;
  padding: 25px;
  
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  
}



.dots {
  display: flex;
  gap: 4px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
}

.toggle {
  position: relative;
}

.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle input:checked + label {
  background: #4cd964;
}

.toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.card-body {
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  color: #555;
}
