/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
}

/* Css pour SideBar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribute items evenly along the column */
  align-items: center; /* Center items horizontally */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 0;
  width: 60px; /* Fixed width for the sidebar */
  height: 290px; /* Adjusted height to your preference */
  position: fixed;

  left: 45px;
  width: 60px;
  height: 50%; /* Fixed position if sidebar should stay in place */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

/* Style for the React icons */
.sidebar .react-icon {
  color: white; /* Icons color */
  font-size: 24px; /* Icon size */
  margin: 10px 0; /* Margin around icons */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

/* Hover effect for icons */
.sidebar .react-icon:hover {
  /* background-color: #0A84FF ; */
  /* padding: 15px; */
  border-radius: 10px;
  transform: translateY(-5px) scale(1.1); /* Légère élévation et agrandissement au survol */
  color: #fff;
}

/* If you want to add specific styles for each icon, you can add additional classes in your component and define them here. For example: */
.sidebar .icon-home {
  /* Specific styles for the 'home' icon if needed */
}

/* Css pour Bottombar */
.navbar {
  top: 96%;
  position: fixed;
  left: 24%;
  display: flex;
  width: auto;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  border-radius: 22px; /* rounded corners */
  overflow: hidden;
}

.nav-item {
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s; /* Animation douce pour le fond */
}

/* L'état de survol pour chaque .nav-item */
.nav-item:hover {
  background-color: #0a84ff;
  border-radius: 15px;
}

/* L'état actif pour l'élément sélectionné */
.nav-item.active {
  background-color: #0a84ff;
}

.nav-add-btn {
  background-color: #0a84ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.3s; /* Animation douce pour le bouton */
}

.nav-add-btn:hover {
  transform: scale(1.1); /* Agrandit légèrement le bouton au survol */
}
/* dashboard.css */
/* Dashboard.css */
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 30px;
  height: 50vh;
  max-height: 50vh;
  top: 120px;
  left: 180px;
  width: 45%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  position: relative; /* Arrière-plan global */
}

/*================================DEBUT Propriétés pour l'animation=================================== */
.all-board {
  transition: transform 4s;
  perspective: 1000px;
  transform: perspective(1000px) rotateY(-45deg) translateX(70px)
    translateY(50px);
}

.all-board:hover {
  transform: scale(1.5) translateX(-80px) translateY(35px);
}
.all-board:hover .aaa {
  transform: translateX(0px) translateY(0px);
}
.aaa {
  transition: transform 0.6s;
  transform: scale(1.01) translateX(-40px) translateY(5px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.aaa {
  animation: pulse 2s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

/*================================FIN Propriétés pour l'animation=================================== */
.aaa2-1,
.aaa2-2,
.aaa2-3,
.aaa1-1 {
  background: rgba(38, 33, 33, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 12px 16px;
  color: #fff;
}

.aaa3-1,
.aaa3-2,
.aaa3-3,
.aaa3-4,
.aaa1-2 {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
