/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
}

/* Css pour SideBar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribute items evenly along the column */
  align-items: center; /* Center items horizontally */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 0;
  width: 60px; /* Fixed width for the sidebar */
  height: 290px; /* Adjusted height to your preference */
  position: fixed;

  left: 45px;
  width: 60px;
  height: 50%; /* Fixed position if sidebar should stay in place */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

/* Style for the React icons */
.sidebar .react-icon {
  color: white; /* Icons color */
  font-size: 24px; /* Icon size */
  margin: 10px 0; /* Margin around icons */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

/* Hover effect for icons */
.sidebar .react-icon:hover {
  /* background-color: #0A84FF ; */
  /* padding: 15px; */
  border-radius: 10px;
  transform: translateY(-5px) scale(1.1); /* Légère élévation et agrandissement au survol */
  color: #fff;
}

/* Css pour Bottombar */
.navbar {
  top: 96%;
  position: fixed;
  left: 24%;
  display: flex;
  width: auto;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px;
  border-radius: 22px; /* rounded corners */
  overflow: hidden;
}

.nav-item {
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s; /* Animation douce pour le fond */
}

/* L'état de survol pour chaque .nav-item */
.nav-item:hover {
  background-color: #0a84ff;
  border-radius: 15px;
}

/* L'état actif pour l'élément sélectionné */
.nav-item.active {
  background-color: #0a84ff;
}

.nav-add-btn {
  background-color: #0a84ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.3s; /* Animation douce pour le bouton */
}

.nav-add-btn:hover {
  transform: scale(1.1); /* Agrandit légèrement le bouton au survol */
}
/* dashboard.css */
/* Dashboard.css */
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 30px;
  height: 50vh;
  max-height: 50vh;
  top: 120px;
  left: 180px;
  width: 45%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(39, 37, 37, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  position: relative; /* Arrière-plan global */
}

/* .card {
  width: 350px;
  height: 235px;
  position: relative;
  padding: 25px;
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.all-board:hover {
  transform: scale(1.5) translateX(-80px) translateY(35px);
}
.all-board:hover .aaa {
  transform: translateX(0px) translateY(0px);
}
.aaa {
  transition: transform 0.6s;
  transform: scale(1.01) translateX(-40px) translateY(5px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.aaa {
  animation: pulse 2s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.33);
}

.temp {
  position: absolute;
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: rgba(87, 77, 51, 1);
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
} */
